yt-dlp==2026.7.4
faster-whisper==1.2.1
tiktok-uploader==1.2.0
instagrapi==2.18.12
supabase==2.31.0
python-dotenv==1.2.2
google-genai==2.14.0
google-api-python-client==2.198.0
google-auth-oauthlib==1.4.0
google-auth-httplib2==0.4.0
gTTS==2.5.4
psutil==7.2.2
requests==2.34.2
playwright==1.61.0
openai
opencv-python-headless
edge-tts
flet
flet-video
pystray
desktop-notifier
certifi
flet-audio
git+https://github.com/dickymuliafiqri/tiktok-uploader
deepface
tf-keras
vanpy
torchaudio
torch
speechbrain==0.5.16
ruamel.yaml<0.18.0
emvoice
lazy-loader
soxr
transformers
tokenizers<0.23.0
pydantic-core==2.46.4
librosa
setuptools<70.0.0
