ImageIO==2.37.4
PyJWT==2.13.0
PyQt6==6.11.0
PyQt6_sip==13.11.1
PyYAML==6.0.3
StrEnum==0.4.15
coloredlogs==15.0.1
faster-whisper==1.2.1
google-api-python-client==2.198.0
google-genai==2.14.0
huggingface_hub==1.26.0
instagrapi==2.18.12
moviepy==1.0.3
pip-chill==1.0.5
pyasn1_modules==0.4.2
pydantic_core==2.46.4
pyinstaller==6.21.0
supabase==2.31.0
tiktok-uploader==1.2.0
yt-dlp==2026.7.4
